<!DOCTYPE html>
<html>
    <head>
        <title>AR Calculator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{site_root}}thirdparty/uikit/css/uikit.min.css" />
        <link rel="stylesheet" href="{{site_root}}thirdparty/pyscript/pyscript.css" />
        <script src="{{site_root}}thirdparty/uikit/js/uikit.min.js"></script>
        <script src="{{site_root}}thirdparty/uikit/js/uikit-icons.min.js"></script>
        <script defer src="{{site_root}}thirdparty/pyscript/pyscript.js"></script>
    </head>
</html>

{% set attack_powers = ["Physical", "Magic", "Fire", "Lightning", "Holy"] %}
{% set status_effects = ["Bleed", "Frostbite", "Poison", "Scarlet Rot", "Sleep", "Madness"] %}
{% set attributes = {"STR": "Strength", "DEX": "Dexterity", "INT": "Intelligence", "FTH": "Faith", "ARC": "Arcane"} %}
{% set affinities = ["Standard", "Heavy", "Keen", "Quality", "Fire", "Flame Art", "Lightning", "Sacred", "Magic", "Cold", "Poison", "Blood", "Occult"] %}

{% set armament_categories = [
    "Dagger", "Straight Sword", "Greatsword", "Colossal Sword", "Curved Sword",
    "Curved Greatsword", "Katana", "Twinblade", "Thrusting Sword", "Heavy Thrusting Sword",
    "Axe", "Greataxe", "Hammer", "Great Hammer", "Flail",
    "Spear", "Great Spear", "Halberd", "Reaper", "Fist",
    "Claw", "Whip", "Colossal Weapon", "Light Bow", "Bow",
    "Greatbow", "Crossbow", "Ballista", "Glintstone Staff", "Sacred Seal",
    "Small Shield", "Medium Shield", "Greatshield", "Torch",
] %}

{% macro to_id(value) %}
{{ value | lower | replace("\'", "") | replace(".", "") | replace(" ", "-") }}
{% endmacro %}

<body>
    <py-config hidden>
        terminal = false
        [[fetch]]
        from = "{{ site_root }}scripts/"
        files = ["attack_power.py"]
    </py-config>

    <script type="text/javascript">
        armaments_raw = {{ armaments | tojson }}
        reinforcements_raw = {{ reinforcements | tojson }}
        correction_attack_raw = {{ correction_attack | tojson }}
        correction_graph_raw = {{ correction_graph | tojson }}
    </script>

    <py-script src="{{site_root}}scripts/ar_calculator.py"></py-script>

    <template id="armament-display-template">
        <li id="armament-display-element" class="uk-padding">
            <div class="uk-grid" uk-grid>
                <div class="uk-width-auto">
                    <img id="armament-display-icon" src="" width="100" height="100">
                </div>
                <div class="uk-width-expand">
                    <div class="uk-grid uk-grid-collapse uk-padding-small uk-padding-remove-horizontal" uk-grid>
                        <div class="uk-width-expand">
                            <h3 id="armament-display-title">Armament Name</h3>
                        </div>
                        <div class="uk-width-auto">
                            <a id="armament-display-remove" class="uk-icon-button uk-button-danger"><span uk-icon="trash"></span></a>
                        </div>
                    </div>
                    <select id="armament-display-affinities" class="uk-select uk-form-width-small"></select>
                    <select id="armament-display-levels" class="uk-select uk-form-width-xsmall"></select>
                </div>
            </div>
            <div class="uk-grid-small uk-grid-divider uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
                <div>
                    <table class="uk-table uk-table-small">
                        <thead>
                            {% for field in attributes.keys() %}
                                <th class="uk-text-center">{{ field }}</th>
                            {% endfor %}
                        </thead>
                        <tbody>
                            <tr>
                                {% for field in attributes.values() %}
                                    <td class="uk-text-center uk-text-bold uk-text-danger" id="armament-display-requirement-{{field | lower}}">-</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="uk-table uk-table-small">
                        <thead>
                            {% for field in attributes.keys() %}
                                <th class="uk-text-center">{{ field }}</th>
                            {% endfor %}
                        </thead>
                        <tbody>
                            <tr>
                                {% for field in attributes.values() %}
                                    <td class="uk-text-center uk-text-bold" id="armament-display-scaling-{{field | lower}}">-</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="uk-grid-small uk-grid-divider uk-child-width-1-2 uk-child-width-1-4@m" uk-grid>
                <div>
                    <table class="uk-table uk-table-small uk-table-divider">
                        <caption class="uk-text-center">Attack Power</caption>
                        <tbody>
                            <tr class="uk-text-bold">
                                <td>Total</td><td id="armament-display-attack-power-total">-</td>
                            </tr>
                            {% for field in attack_powers %}
                                <tr>
                                    <td>{{ field }}</td><td id="armament-display-attack-power-{{field | lower}}">-</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="uk-table uk-table-small uk-table-divider">
                        <caption class="uk-text-center">Status Effects</caption>
                            {% for field in status_effects %}
                                <tr>
                                    <td>{{ field }}</td><td id="armament-display-status-effect-{{field | replace(' ', '_') | lower}}">-</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="uk-table uk-table-small uk-table-divider">
                        <caption class="uk-text-center">Guard</caption>
                        <tbody>
                            <tr class="uk-text-bold">
                                <td>Boost</td><td id="armament-display-guard-boost">-</td>
                            </tr>
                            {% for field in attack_powers %}
                                <tr>
                                    <td>{{ field }}</td><td id="armament-display-guard-{{field | lower}}">-</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="uk-table uk-table-small uk-table-divider">
                        <caption class="uk-text-center">Resistances</caption>
                        <tbody>
                            {% for field in status_effects %}
                                <tr>
                                    <td>{{ field }}</td><td id="armament-display-resistance-{{field | replace(' ', '_') | lower}}">-</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    </template>

    <section class="uk-section-small uk-section-default">
        <div class="uk-container uk-margin-large-bottom">

            <div uk-alert>
                <button class="uk-alert-close" type="button" aria-label="Close" uk-close></button>
                <p>This tool is <b>heavily</b> WIP with plenty more features to come. Please leave your requests and reports <a href="https://github.com/EldenRingDatabase/erdb/issues" target="_blank">here</a> or find me on souls Discords (Phil25#0807).</p>
            </div>

            <div class="uk-grid uk-grid-divider" uk-grid>

                <div class="uk-width-1-1@s uk-width-auto@m">
                    <div class="uk-text-center" uk-sticky="offset:20;media:960">

                        <div class="uk-container uk-margin uk-width-small">
                            <div class="uk-grid-small" uk-grid>
                                {% for abbrv, full in attributes.items() %}
                                    <div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-right">
                                        <label>{{ abbrv }}</label>
                                    </div>
                                    <div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-left">
                                        <input id="player-attributes-{{full | lower}}" class="uk-input" type="number" min="1" max="99" value="10">
                                    </div>
                                {% endfor %}
                                <div class="uk-width-expand">
                                    <label>Two-Handed</label>
                                </div>
                                <div class="uk-width-auto">
                                    <input id="player-two-handed-checkbox" class="uk-checkbox" type="checkbox">
                                </div>
                                <div class="uk-width-1-1">
                                    <select id="armament-level-select" class="uk-select">
                                        {% for i in range(0, 26) %}
                                            <option value="{{i}}/{{i | to_somber}}">+{{ i }} / +{{ i | to_somber }}</option>
                                        {% endfor %}
                                        <option value="Mixed" hidden>Mixed</option>
                                    </select>
                                </div>
                                <div class="uk-width-1-1">
                                    <select id="armament-affinity-select" class="uk-select">
                                        {% for affinity in affinities %}
                                            <option>{{ affinity }}</option>
                                        {% endfor %}
                                        {% for affinity in affinities %}
                                            <option hidden>{{ affinity }} (*)</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="uk-width-expand">
                    <div class="uk-background-muted">
                        <div class="uk-grid-small uk-child-width-auto uk-padding-small" uk-grid>
                            <div>
                                <a id="open-armament-selection" class="uk-button uk-button-default" href="#modal-armament-selector" uk-toggle>Select Armaments...</a>
                            </div>
                            <div>
                                <select id="armament-sorting-method" class="uk-select" uk-tooltip="Sorting method">
                                </select>
                            </div>
                            <div class="uk-width-expand">
                            </div>
                            <div>
                                <a id="open-settings-menu" class="uk-button uk-button-default" href="#modal-settings-menu" uk-toggle><span uk-icon="settings"></span></a>
                            </div>
                            <div>
                                <a id="open-help-menu" class="uk-button uk-button-default" uk-toggle="target:#offcanvas-help-and-tips"><span uk-icon="info"></span></a>
                            </div>
                        </div>
                    </div>

                    <ul id="armament-display-container" class="uk-list uk-list-striped">
                    </ul>
                </div>

            </div>

        </div>
    </section>

    <div id="modal-settings-menu" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h6 class="uk-modal-title">Settings</h6>
            </div>
            <div class="uk-modal-body" uk-overflow-auto>
                <ul uk-tab>
                    <li><a href="#" disabled uk-tooltip="Work in progress">General</a></li>
                    {#<li><a href="#" disabled uk-tooltip="Work in progress">Opponent</a></li>#}
                    <li class="uk-active"><a href="#">Damage Tweaks<span id="settings-tweak-badge" class="uk-badge" uk-tooltip="" hidden></span></a></li>
                </ul>
                <ul class="uk-switcher uk-margin">
                    <li> {# General #}
                    </li>
                    {#<li> Opponent
                    </li>#}
                    <li> {# Damage Tweaks #}
                        <div uk-alert>
                            Set the percentage for each damage type to tweak the AR calculator. Example uses:
                            <ul>
                                <li>prioritize specific damage as desired,</li>
                                <li>lower elemental values to penalize split damage.</li>
                            </ul>
                        </div>
                        <table class="uk-table uk-table-middle">
                            <thead>
                                <th class="uk-table-shrink"></th>
                                <th class="uk-table-expand"></th>
                                <th class="uk-width-1-6"></th>
                                <th class="uk-table-shrink"></th>
                                <th class="uk-table-shrink"></th>
                            </thead>
                            <tbody>
                                {% for attack in attack_powers %}
                                    <tr>
                                        <td><label class="uk-flex uk-flex-right">{{ attack }}</label></td>
                                        <td><input id="settings-tweak-value-{{attack | lower}}" class="uk-width-expand uk-flex uk-flex-middle" type="range" value="100" min="0" max="200"></td>
                                        <td class="uk-text-center"><label id="settings-tweak-view-{{attack | lower}}">100%</label></td>
                                        <td>
                                            <a id="settings-tweak-lock-{{attack | lower}}" class="uk-icon-button {% if not loop.first %}uk-button-primary{% endif %}" uk-tooltip="Lock {{attack}} tweak to match other locked tweaks.">
                                                <span id="settings-tweak-lock-icon-{{attack | lower}}" uk-icon="{% if loop.first %}unlock{% else %}lock{% endif %}"></span>
                                            </a>
                                        </td>
                                        <td><a id="settings-tweak-reset-{{attack | lower}}" class="uk-icon-button uk-button-danger" uk-tooltip="Reset {{attack}} tweak back to 100%."><span uk-icon="refresh"></span></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button id="save-settings" class="uk-button uk-button-primary uk-modal-close" type="button">Save</button>
                <button id="cancel-settings" class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            </div>
        </div>
    </div>

    <div id="modal-armament-selector" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h6 class="uk-modal-title">Armament Selector</h6>
            </div>
            <div class="uk-modal-body" uk-overflow-auto>
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-inline uk-width-expand">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon:search"></span>
                        <input id="filter-armament-selection" class="uk-input uk-width-1-1" type="text" placeholder="Filter..." autofocus>
                    </div>
                    <div class="uk-inline uk-width-auto">
                        <button id="toggle-armament-selection" class="uk-button uk-button-default uk-text-italic" href="#">&nbsp;<span uk-icon="plus-circle"></span> Toggle All</button>
                    </div>
                </div>
                <div id="armament-selection-grid" class="uk-dropdown-grid uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry:true">
                    {% for category in armament_categories %}
                        <div id="armament-selection-category-{{to_id(category) | trim}}">
                            <ul class="uk-nav">
                                <li class="uk-nav-header"><b>{{ category }}</b></li>
                                <li><a id="selection-category-{{to_id(category) | trim}}" data-armament-category="{{category}}" class="uk-button-default uk-text-italic" href="#">&nbsp;<span uk-icon="plus-circle"></span> Toggle All</a></li>
                                {% for key, armament in armaments.items() %}
                                    {% if armament.category == category %}
                                        <li><a id="selection-armament-{{to_id(key) | trim}}" data-armament-key="{{key}}" data-armament-category="{{category}}" class="uk-button-default" href="#">&nbsp;<span class="uk-icon uk-icon-image" style="background-image:url(https://assets.erdb.workers.dev/icons/armaments/{{armament.icon}}/icon)"></span> {{ armament.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button id="save-armament-selection" class="uk-button uk-button-primary uk-modal-close" type="button">Save (<b>0</b>)</button>
                <button id="close-armament-selection" class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            </div>
        </div>
    </div>

    <div id="offcanvas-help-and-tips" uk-offcanvas="flip:true">
        <div class="uk-offcanvas-bar">

            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <h3>Help</h3>

            <p>This AR calculator uses data which was automatically mined from ELDEN RING files with the <a href="https://github.com/EldenRingDatabase/erdb/" target="_blank">ERDB</a> tool. It's currently in development and I welcome any reports or requests to improve it.</p>

            <h3>Tips</h3>

            <ul>
                <li>Hover over a scaling grade to see the precise value.</li>
                <li>In Armament Selector, you can filter by both names or classes.</li>
                <li>To quickly add weapons, press <span class="uk-badge">/</span>, search for items and hit <span class="uk-badge">Enter</span> to accept the filter result.</li>
            </ul>

            <h3>Key bindings</h3>

            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-1-5 uk-flex uk-flex-right"><span class="uk-badge">?</span></div>
                <div class="uk-width-4-5">open this menu</div>

                <div class="uk-width-1-5 uk-flex uk-flex-right"><span class="uk-badge">/</span></div>
                <div class="uk-width-4-5">open Armament Selector</div>

                <div class="uk-width-1-5 uk-flex uk-flex-right"><span class="uk-badge">Enter</span></div>
                <div class="uk-width-4-5"><span class="uk-text-meta">(while filtering)</span> select filtered items and save</div>
            </div>

        </div>
    </div>

</body>